.logo {
  font-family: "Dancing Script", cursive;
  font-size: 2.3rem;
}
.subHeader {
  font-size: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.link {
  color: #565050;
  font-family: Monteserrat, "sans-serif";
  font-size: 13px;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: #a09797;
  text-decoration: none;
}

.ul {
  display: inline-block;
}

::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

input {
  padding: 10px 20px;
  font-size: 13px;
  letter-spacing: 1px;
}
input:focus {
  outline: none;
  border: 2px solid black;
}
